
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    border-bottom: 1px solid #423ec6; 
    margin-bottom: 20px; 
}

.welcome-message {
    margin: 0; 
    font-size: 20px; 
    font-weight: bold;
}

.balance-info {
    margin: 0; 
    font-size: 20px; 
    font-weight: bold;
}


.discount-row {
    background-color: #e6f7e6;
    font-weight: bold; 
}


.discount-amount {
    color: #e31111; 
    font-size: 16px; 
}

#cart-total{
    font-weight: bolder;
    color: blue;
    font-size: medium;
}

.error-row {
    background-color: #f8d7da;
    color: #bb1a2a; 
    font-weight: bold; 
    
}


.discount-code {
    text-decoration: underline; 
    color: #c82333; 
    text-transform: uppercase;
}



table {
    width: 50%; 
    border-collapse: collapse; 
    margin: 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
}


table th, table td {
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: left; /* Alinear texto a la izquierda */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

/* Estilo de las cabeceras de la tabla */
table th {
    background-color: #4c60af; /* Color de fondo de la cabecera */
    font-weight: bold; /* Texto en negrita */
    color: #ffffff; /* Color del texto */
}

/* Estilo para filas alternas */
table tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo alterno para filas */
}

/* Estilo para filas impares */
table tr:nth-child(odd) {
    background-color: #ffffff; /* Color de fondo para filas impares */
}

/* Estilo para el total del carrito */
table tr td strong {
    color: #4c63af; /* Color verde para el texto del total */
    font-size: 16px; /* Aumentar el tamaño del texto */
}

/* Mejorar la apariencia en hover */
table tr:hover {
    background-color: #ddd; /* Cambia el fondo al pasar el cursor por encima */
}

/* Estilos de responsividad */
@media screen and (max-width: 600px) {
    table {
        font-size: 14px; /* Reducir el tamaño de fuente en pantallas pequeñas */
    }
}
